html{
	font-size: 12px;
}

body{
	margin:0 auto
}

h1{
	font-size: 3rem
}

h2{
	font-size:2rem;
}

h3{
	font-size: 1rem
}
/*
.logo{
	margin:0 auto;
	width:80%;
	margin-top: 250px;
}

img{
	width:100%;
}
*/

img{
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;

  user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media only screen and (min-width: 375px){
img{
	width: 40%;
}

}
